@tailwind base;
@tailwind components;
@tailwind utilities;


/* .mobileView {
    @apply max-lg:bg-[#00141b] z-20 max-lg:gap-5 max-lg:fixed max-lg:items-center max-lg:justify-center max-lg:flex-col max-lg:top-0 max-lg:w-full max-lg:h-full duration-500
} */

@layer components {
    .mobileView {
        @apply max-lg:bg-white z-20 max-lg:gap-5 max-lg:fixed max-lg:items-center max-lg:justify-center max-lg:flex-col max-lg:top-0 max-lg:w-full max-lg:h-full duration-300
    }

    .navhover {
        @apply after:absolute  relative hover:after:left-[0] after:bottom-[-2px] after:w-0 after:left-[50%] after:rounded-[10px] after:h-[3px] after:bg-[#02CDCF] hover:after:w-full after:duration-300
    }
}


.bg-BgSize {
    background-size: 100% 100%;
}

@font-face {
    font-family: luckydino;
    src: url("./assets/fonts/LuckyDino.otf");
}

.ff_luckydino {
    font-family: 'luckydino';
}