@tailwind base;
@tailwind components;
@tailwind utilities;

.mobileView {
    @apply max-lg:bg-[#00141b] z-20 max-lg:gap-5 max-lg:fixed max-lg:items-center max-lg:justify-center max-lg:flex-col max-lg:top-0 max-lg:w-full max-lg:h-full duration-500
}
.bg-BgSize {
    background-size: 100% 100%;
}

@font-face {
    font-family: luckydino;
    src: url("./assets/fonts/LuckyDino.otf");
}

.ff_luckydino {
    font-family: 'luckydino';
}